.btn-option {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  background-color:  #A7C7E7;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  text-align: left;
}

.btn-option:hover {
  background-color: #7c9dbb;
}

.question-box, .result-box {
  margin-top: 30px;
  padding: 20px;
  background-color: #5B8DB8 ;
  border-radius: 12px;
  color: white;
}

.progress {
  color: #a49b89;
  margin-top: 15px;
}

.result-box img {
  max-width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #444;
}

