/*---------------------------------------
# Why Us
---------------------------------------*/

.tipps .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
    background: #5B8DB8;
  }
  
  .tipps  .box span {
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #eef1fc;
  }
  
  .tipps .box h4 {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.8);
  }
  .tipps -us .box p {
    color:#fff;;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  
  .tipps  .box:hover {
    background: #7c9dbb;
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
  }
  
  .tipps  .box:hover span,
  .tipps  .box:hover h4,
  .tipps  .box:hover p {
    color: #fff;
  }
  